/* index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'AlimamaFangYuanTiVF-Thin';
  src: url('./assets/fonts/AlimamaFangYuanTiVF-Thin.woff2') format('woff2'),
    url('./assets/fonts/AlimamaFangYuanTiVF-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
